# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build / dist files
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/
